@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  height: 100vh;
}
.hero img {
  position: absolute;
  width: 35vw;
}
.hero img:nth-child(1) {
  top: -25vh;
  left: -30vw;
  animation: imgFloat1 3s ease-in-out infinite alternate;
}
.hero img:nth-child(2) {
  top: -30vh;
  right: -20vw;
  animation: imgFloat2 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}
.hero img:nth-child(3) {
  bottom: -30vh;
  left: -20vw;
  animation: imgFloat3 3s ease-in-out infinite alternate;
  animation-delay: 2s;
}
.hero img:nth-child(4) {
  bottom: -20vw;
  right: -20vw;
  animation: imgFloat4 3s ease-in-out infinite alternate;
}

@keyframes imgFloat1 {
  0% {
    top: -25vh;
  }
  100% {
    top: -15vh;
  }
}

@keyframes imgFloat2 {
  0% {
    top: -30vh;
  }

  100% {
    top: -20vh;
  }
}

@keyframes imgFloat3 {
  0% {
    left: -20vw;
  }

  100% {
    left: -30vw;
  }
}

@keyframes imgFloat4 {
  0% {
    bottom: -20vw;
    right: -20vw;
  }

  100% {
    bottom: -15vw;
    right: -10vw;
  }
}

.bounce {
  animation: bounceAnimation 2s ease-in-out infinite alternate;
}
@keyframes bounceAnimation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}

.footer {
  background: #0e0f34;
}
.footer code {
  display: block;
  overflow-x: auto;
  background: #202746;
  color: #979db4;
  padding: 0.5em 2rem;
  -webkit-text-size-adjust: none;
  margin: 1em 0;
}
.footer code .title {
  color: aquamarine;
}
.footer code .operation {
  color: blueviolet;
}
.footer code .link {
  color: darkorange;
}
