@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  height: 100vh;
}
.hero img {
  position: absolute;
  width: 35vw;
}
.hero img:nth-child(1) {
  top: -25vh;
  left: -30vw;
  animation: imgFloat1 3s ease-in-out infinite alternate;
}
.hero img:nth-child(2) {
  top: -30vh;
  right: -20vw;
  animation: imgFloat2 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}
.hero img:nth-child(3) {
  bottom: -30vh;
  left: -20vw;
  animation: imgFloat3 3s ease-in-out infinite alternate;
  animation-delay: 2s;
}
.hero img:nth-child(4) {
  bottom: -20vw;
  right: -20vw;
  animation: imgFloat4 3s ease-in-out infinite alternate;
}

@keyframes imgFloat1 {
  from {
    top: -25vh;
  }
  to {
    top: -15vh;
  }
}

@keyframes imgFloat2 {
  from {
    top: -30vh;
  }
  to {
    top: -20vh;
  }
}

@keyframes imgFloat3 {
  0% {
    left: -20vw;
  }
  to {
    left: -30vw;
  }
}

@keyframes imgFloat4 {
  from {
    bottom: -20vw;
    right: -20vw;
  }
  to {
    bottom: -15vw;
    right: -10vw;
  }
}

.bounce {
  animation: bounceAnimation 2s ease-in-out infinite alternate;
}
@keyframes bounceAnimation {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}

.footer {
  background: #0e0f34;
}
.footer code {
  display: block;
  overflow-x: auto;
  background: #202746;
  color: #979db4;
  padding: 0.5em 2rem;
  -webkit-text-size-adjust: none;
  margin: 1em 0;
}
code .title {
  color: aquamarine;
}
code .operation {
  color: blueviolet;
}
code .link {
  color: darkorange;
}

/* Align to right side */
@media screen and (min-width: 1076px) {
  .aos-items div:nth-child(even) {
    margin: 0 0 0 auto;
  }
}

div[data-aos="fade-up"] {
  animation: moveUp 1s ease-in-out, fade 1s ease-in-out;
}
div[data-aos="fade-down"] {
  animation: moveDown 1s ease-in-out, fade 1s ease-in-out;
}
div[data-aos="fade-left"] {
  animation: moveLeft 1s ease-in-out, fade 1s ease-in-out;
}
div[data-aos="fade-right"] {
  animation: moveRight 1s ease-in-out, fade 1s ease-in-out;
}
div[data-aos="fade-up-left"] {
  animation: moveUpLeft 1s ease-in-out, fade 1s ease-in-out;
}
div[data-aos="fade-up-right"] {
  animation: moveUpRight 1s ease-in-out, fade 1s ease-in-out;
}
div[data-aos="fade-down-left"] {
  animation: moveDownLeft 1s ease-in-out, fade 1s ease-in-out;
}
div[data-aos="fade-down-right"] {
  animation: moveDownRight 1s ease-in-out, fade 1s ease-in-out;
}

@keyframes moveUp {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveLeft {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveRight {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveUpLeft {
  from {
    transform: translate(50px, 50px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes moveUpRight {
  from {
    transform: translate(-50px, 50px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes moveDownLeft {
  from {
    transform: translate(50px, -50px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes moveDownRight {
  from {
    transform: translate(-50px, -50px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
